.footer {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: linear-gradient(
        to top,
        rgb(22, 33, 39),
        rgb(2,2, 4));



    .contact-div {
        width: 100%;
        height: max-content;
        padding: 2rem initial;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin: auto;
        row-gap: 2rem;
        z-index: 100;
        padding-top: 3rem;

    }


    .footer-links{
        flex-basis: 50%;
        width: 100%;
        gap: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 2rem;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-between;
        align-items: flex-start;
    }

    .link-group .groupTitle {
        display: block;
        color: white;
        font-weight: 600;
        margin-bottom: .5rem;
    }

    .footerList  span{
        font-size: 15px;
        cursor: pointer;
    }

    .list {
        color: rgb(134, 134, 134);
        &:hover {
            text-decoration: underline;
            color: white;
        }
    }

    .icon {
        transform: translateY(4px);
       margin-right: 10px;
        font-size: 18px;
    }
}

